

html {
    scroll-behavior: smooth !important;
    width: 100% !important;
}

body {
    font-family: 'Josefin Sans', sans-serif !important;
    padding: 0 !important;
    width: 100% !important;
    overflow-x: hidden;
}

i {
    width: auto !important;
}

body,
div,
nav,
svg,
section {
    will-change: background-color;
    transition: background-color 350ms ease;
}

/* Warna dasar */
body {
    background-color: #1E1E1E;
    color: #F1F5F2;
}

/* Section Styling */
.bg-white-black {
    background: #2F2F2F;
    color: #ffffff;
    margin-top: 80px;
}

.bg-light-dark {
    background: #A8BFA8;
    color: #1E1E1E;
}

.bg-green-pink {
    background: linear-gradient(135deg, #1E1E1E 0%, #4B5563 50%, #8FA98F 100%);
    color: #ffffff;
}

/* Gambar bulat */
.img-center-crop {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.judul h1 {
  font-family: "Sacramento", cursive;
  font-size: 3rem;
  color: white;
}

.judul h2 {
  font-family: "Sacramento", cursive;
  font-size: 2rem;
  color: white;
}

.judul p {
  font-size: 1rem;
  
}

.font-esthetic {
  font-family: "Sacramento", cursive;
  color: white;
}

.profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}


.img-center-crop {
    animation: imgFloat 3s ease-in-out infinite;
}

.slide-desktop {
    transform: scale(1);
    transition: transform 10s linear;
}

.slide-desktop-active {
    transform: scale(1.15);
}

#carousel-image-one {
    max-width: 900px;
    margin: auto;
}

#carousel-image-one .carousel-item img {
    width: 100%;
    height: 220px;      /* HP */
    object-fit: cover;  /* Potong gambar agar tetap rapi */
    border-radius: 15px;
}

@media (min-width: 768px) {
    #carousel-image-one .carousel-item img {
        height: 450px;  /* Desktop */
    }
}

#carousel-image-two {
    max-width: 900px;
    margin: auto;
}

#carousel-image-two .carousel-item img {
    width: 100%;
    height: 220px;      /* HP */
    object-fit: cover;  /* Potong gambar agar tetap rapi */
    border-radius: 15px;
}

@media (min-width: 768px) {
    #carousel-image-two .carousel-item img {
        height: 450px;  /* Desktop */
    }
}

.countdown-box {
  width: 75px;
  height: 75px;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 18px;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  box-shadow: 0 6px 15px rgba(0,0,0,.2);
}

.countdown-box h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
}

.countdown-box small {
  font-size: 0.8rem;
  opacity: .9;
}

#countdown {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 25px 0;
  flex-wrap: wrap;
}

body{
    padding-bottom:110px;
}